/* ---------------Limpieza--------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
ul,
ol {
  list-style: none;
}

/* ---------------Fuentes--------------- */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.carrois-gothic-sc-regular {
  font-family: "Carrois Gothic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* <weight>: Use a value from 100 to 900 */
/* <width>: Use a value from 75 to 100 */
/* <uniquifier>: Use a unique and descriptive class name */
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* ---------------Header--------------- */
header {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Silkscreen", sans-serif;
  text-align: center;
  background-color: #363232;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
#logo-kaineos {
  height: 5rem;
  width: 5rem;
  background-image: url("../Images/Icons/Kaineos.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: var(--shadow-x, 0px) var(--shadow-y, 0px)
    var(--shadow-diffusion, 0px) rgb(206, 195, 195);
}
nav h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  margin: 0;
  letter-spacing: 0.2rem;
  transition: text-shadow 0.3s ease;
}
@media (hover: hover) {
  nav h1:hover {
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
  }
}

/* ---------------Main--------------- */
main {
  padding-top: 2rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  width: 90%;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  /* Quitamos overflow: hidden para permitir que la caja de zoom se vea fuera de la sección */
}
#back-link-container {
  padding-top: 8.5rem;
  padding-left: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
}
#back-link {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 10rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: black;
  border-radius: 0.1rem;
  color: #ccc;
  transition: color 0.5s ease, background-color 0.5s ease;
}
#back-link:hover {
  background-color: #ccc;
  color: black;
}
#product-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "Roboto", sans-serif;
  border-radius: 0.2rem;
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.15);
  margin-bottom: 2rem;
}
#product-box-images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  /* 1. Creamos un contexto de posicionamiento para la caja de zoom */
  position: relative;
  padding: 0.5rem;
  width: 70%;
  height: 31rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
#image-counter {
  background-color: #f5f5f5;
  border-radius: 0.75rem;
  font-size: 14px;
  font-weight: 600;
  width: 2.5rem;
  height: 1.375rem;
  position: absolute;
  left: 3rem;
  top: 1.2rem;
  display: none;
  justify-content: center;
  align-items: center;
}
#product-gallery {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  height: 27rem;
  overflow-y: scroll;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.image-inactive {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  cursor: pointer;
  opacity: 0.7;
}
.image-inactive.active {
  opacity: 1;
  outline: 3px solid #f08f3e;
}
#product-box-image-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Necesario para posicionar la lupa dentro y para el overflow */
  overflow: hidden; /* Esencial para que las imágenes se deslicen dentro de este contenedor sin desbordarse */
}
#product-image-selected {
  height: 27rem;
  width: 27rem;
  display: block;
  /* Añadimos una transición suave para el efecto de deslizamiento */
  transition: transform 0.3s ease-in-out;
}

/* Pista visual que sigue al cursor sobre la imagen */
.zoom-cursor-hint {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
  display: none;
  pointer-events: none; /* Para que sea "invisible" para el mouse y que lo que el cursor haga sea sobre el elemento que esta debajo */
}

/* Caja lateral que muestra la imagen con zoom */
.zoom-display-box {
  position: absolute;
  top: 50%; /* 1. La posicionamos a la mitad de la altura del contenedor */
  left: 100%; /* Se posiciona a la derecha del contenedor de imágenes */
  margin-left: 1rem;
  width: 21.875rem;
  height: 21.875rem;
  border: 1px solid #ccc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  display: none;
  pointer-events: none; /* Para que sea "invisible" para el mouse y que lo que el cursor haga sea sobre el elemento que esta debajo */
  z-index: 10; /* Para que esté por encima de otros elementos */
  transform: translateY(
    -50%
  ); /* 2. La subimos la mitad de su propia altura para centrarla */
}
#image-pagination-dots {
  /* Contenedor de puntos de imagenes */
  display: none;
  justify-content: center;
  align-items: center;
}
#image-pagination-dots ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.pagination-dot {
  /* Puntos de imagenes */
  width: 0.75rem;
  height: 0.75rem;
  background-color: #a8a3a3;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}
.pagination-dot.active {
  background-color: #3483fa;
}
#product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 30%;
  height: 31rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
#product-name {
  font-size: 1.5rem;
  text-align: center;
}
#product-price {
  font-size: 2.5rem;
  font-weight: 350;
  text-align: center;
}
#product-offer {
  font-size: 1.05rem;
  font-weight: 400;
  text-align: center;
  padding: 0.2rem;
  color: #00a650;
  border-radius: 0.1rem;
  transition: transform 0.5s ease;
}
#buy-button {
  width: 18rem;
  height: 3rem;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  background-color: #f08f3e;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
@media (hover: hover) {
  #buy-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px 3px rgb(0 0 0 / 0.2);
    color: #f08f3e;
    background-color: #ffffff;
  }
}

/* ---------------Footer--------------- */
footer {
  padding: 2rem 1rem;
  background-image: url("../Images/Herramientas\ visuales/Background-image del footer en el index.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  font-family: "Carrois Gothic SC", sans-serif;
}
.footer-content {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-right {
  text-align: right;
}
.footer-logo {
  height: 4rem;
  border-radius: 0.3rem;
}
.footer-brand h4 {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}
.social-media {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}
.social-media img {
  height: 2.5rem;
  border-radius: 20%;
  transition: transform 0.3s ease;
}
@media (hover: hover) {
  .social-media img:hover {
    transform: scale(1.1);
  }
}
.copyright {
  font-weight: 400;
  font-size: 0.9rem;
  color: black;
  text-align: center;
}
#instagram-icon-floating {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 300;
  width: 4rem;
  height: 4rem;
  transition: transform 0.3s ease;
}
#instagram-icon-floating img {
  height: 100%;
  width: auto;
}
@media (hover: hover) {
  #instagram-icon-floating:hover {
    transform: scale(1.3);
  }
}

/* ---------------Responsive Web Design--------------- */
@media (width <= 415px) {
  #product-box-images {
    height: 25rem;
  }
  #product-image-selected {
    width: 15rem;
    height: 15rem;
  }
  #image-counter {
    left: 0.5rem;
  }
  #product-info {
    height: 20rem;
  }
  #buy-button {
    width: 13rem;
    height: 3rem;
  }
}
@media (width >= 416px) and (width <= 550px) {
  #product-box-images {
    height: 30rem;
  }
  #product-image-selected {
    width: 20rem;
    height: 20rem;
  }
}
@media (width <= 1000px) {
  #product-box {
    flex-direction: column;
    gap: 1rem;
  }
  #image-counter {
    display: flex;
  }
  #product-box-images {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }
  #product-gallery {
    display: none;
  }
  #image-pagination-dots {
    display: flex;
  }
  #product-info {
    width: 100%;
  }
}
@media (width >= 416px) and (width <= 1000px) {
  #product-info {
    height: 15rem;
  }
}
@media (width <= 1100px) {
  .image-inactive {
    margin-right: 0.7rem;
  }
  .zoom-display-box {
    width: 18rem;
    height: 18rem;
  }
}
@media (width >= 416px) and (width <= 1100px) {
  #buy-button {
    width: 15rem;
  }
}
@media (width >= 1920px) {
  .zoom-display-box {
    width: 30rem;
    height: 25rem;
  }
  #instagram-icon-floating {
    right: calc((100vw - 1920px) / 2 + 1.5rem);
  }
}

/* ---------------Width maximo---------------*/
.wrapper {
  max-width: 1920px;
  margin: auto;
}

/* Efecto zoom a pantalla completa */
#fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
#fullscreen-modal.hidden {
  opacity: 0;
  visibility: hidden;
}
.modal-content {
  position: relative;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-image {
  max-width: 100%;
  max-height: 100%; /* Aseguramos que la imagen no se desborde */
  object-fit: contain; /* Cambiado a 'contain' para que la imagen completa sea visible, sin recortes */
}
.modal-control {
  position: absolute;
  background: rgba(86, 78, 78, 0.5);
  border: none;
  border-radius: 0.1rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}
@media (hover: hover) {
  .modal-control:hover {
    background: rgba(103, 99, 99, 0.8);
  }
}
#modal-image-counter {
  position: absolute;
  top: 4.8%;
  left: 30%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  background-color: rgba(86, 78, 78, 0.5);
  padding: 5px 15px;
  border-radius: 2rem;
}
#modal-close-btn {
  top: 2.5%;
  right: 1.5%;
}
#modal-prev-btn {
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
#modal-next-btn {
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
/* ---------------Responsive Web Design en el Modal--------------- */
@media (width <= 480px) {
}
@media (width <= 850px) {
  #modal-image-counter {
    left: 12%;
  }
  #modal-prev-btn {
    left: 7%;
  }
  #modal-next-btn {
    right: 7%;
  }
}
@media (width >= 851px) and (width <= 1050px) {
  #modal-image-counter {
    left: 20%;
  }
}
@media (width >= 1051px) and (width <= 1300px) {
  #modal-image-counter {
    left: 27.5%;
  }
}
@media (width >= 1900px) {
  #modal-image-counter {
    left: 32.5%;
  }
  #modal-prev-btn {
    left: 20%;
  }
  #modal-next-btn {
    right: 20%;
  }
}
